<% @tip.comments.each do |comment| %>
  <strong>Comment:</strong>
  <p><%= comment.content %></p>
  <h6>Posted by: <%= comment.user.first_name%> <%= comment.user.last_name %></h6>

  <% if current_user == comment.user%>
    <%= link_to "Remove", [comment.tip, comment], method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <hr>
<% end %>
