<%= form_for([@tip, @tip.comments.build]) do |f| %>
  <div class="form-group">
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>
  </div>
  <div class="actions">
      <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
