<div class="jumbotron">

    <%= image_tag("lvg_by_yanyinchoy.png", width: "100%", class:"img-fluid", alt:"homepage photo") %>

</div>


<br>


<% @cities.each do |city| %>
  <div class="card group">
    <div class="col-md-4">
      <div class="card card-inverse">
        <%= image_tag city.photo, class: "card-img img-thumbnail", alt:"Card image cap" %>
        <div class="card-img-overlay">
          <h4 class="card-title">
            <%= link_to city.name.titleize, city_path(city) %>
          </h4>
        </div>
      </div>
    </div>
  </div>
<% end %>
