<h3> <%= @city.name %></h3>
<img class='banner-img' src=<%= @city.photo%>>
<%= button_to "Add New #{tip_rename}", new_tip_path, method: "get"%>
<% @city.tips.each do |tip|%>
  <%= link_to tip.title, tip_path(tip) %> <br>
<% end %>
