@import "bootstrap";

.object-fit_contain { object-fit: contain }

.profile-bold {
  font-weight: 15px;
}

.jumbotron {
  background-color: #9affec;
}

.city-img {
  position: relative;
}

.city-img-caption {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
}

.homepage-a {
  text-align: center;
  color: #fcfbe3;
  text-shadow: 2px 2px 5px #000000;
}

.jumbotron h1 {
  text-align: center;
  color: #fcfbe3;
  text-shadow: 2px 2px 5px #000000;
}

body {
  background-color: #9affec
}

.navbar-default {
  background-color: #9affec;
  border-color: #9affec
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fcfbe3;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fcfbe3;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fcfbe3;
    border-bottom-color: #fcfbe3;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*
cream
#fcfbe3
RGB value is (252,251,227).

light blue
#b0ebff
(176,235,255).

light teal blue
#9affec
(154,255,236).

teal aquamarine
#54baab
RGBA (84,186,171).

aquamarine
#66CDAA
RGB value is (102,205,170).
*/
