@import "bootstrap";

.edit-btn:before   { content: "\270E"; }
.delete-btn:before { content: "\2718";}
.tip-button.delete-btn {
  top:40px;
}

.object-fit_contain { object-fit: contain }

.profile-bold {
  font-weight: 15px;
}
h1 .text-center.homepage-tagline {
  font-size: 10vw;
}

.jumbotron {
  padding: 0px;
  background-color: #def3f6;
}

.card-group .col-md-4 {
  padding: 15px;
}

.city-img {
  position: relative;
}

.city-img-caption {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
}

.img-wrapper {
  padding-bottom: 100%;
  overflow: hidden;
  width: 100%;
  background-color: #def3f6;
}
.img-thumbnail {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
}

.homepage-a {
  text-align: center;
  color: #E6FFFF;
  text-shadow: 2px 2px 5px #000000;
  text-decoration: none;
}

.card-title.text-center.city_caption_a a {
  color: #E6FFFF;
  text-shadow: 2px 2px 5px #000000;
  text-decoration: none;
}

.jumbotron h1 {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 5px #000000;
}

body {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.navbar-default {
  background-color: #76B6C4;
  opacity: .8;
  margin-bottom: 0;
}

.navbar-header {
  margin-bottom: 0px;
  border-radius: 0px;
}

a {
  color: #76B6C4;
  text-decoration: none;
}


.side-btn{
  display: inline-block;
  position: absolute;
  width: 30px;
  padding:5px 10px;
  top:0;
  right: 0;
}
.btn-offset{
  top: 30px;
}
.featured{
  width:100%;
}
.full-width{
  padding:0;
}
.tip-button {
  color:white;
  border-color: rgba(118,182,196,.8);
  background-color: #76B6C4;
}
.tip-button:hover, .tip-button:focus, .tip-button:active, .tip-button:active:focus{
  color:white;
  border-color: rgba(118,182,196,.6);
  background-color: rgba(118,182,196,.8);
}

.tip-show-profile {
  padding-left: 30px;
}

.city-idx-field {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.tip-container {
  background-color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-primary, .btn {
  margin: 10px 0px;
}
.card-group .col-md-4, .city-img {
  padding: 0px;
  max-height: 500px;
}
.img-responsive{
  width:100%;
}

/* title */
.navbar-default .navbar-brand {
    color: #EEF6F2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #EEF6F2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fcfbe3;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fcfbe3;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #EEF6F2;
    border-bottom-color: #EEF6F2;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #EEF6F2;
    border-bottom-color: #EEF6F2;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fcfbe3;
    border-bottom-color: #fcfbe3;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #EEF6F2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #EEF6F2;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
    .card-group .col-md-4, .city-img {
      padding: 0px;
      max-height: 250px;
    }
    .img-responsive{
      width:100%;
    }
    .card-title.city-caption-a {
      position: relative;
      top: 10%;
      left: 0%;
      width: 100%;
    }
    .card-title.text-center.city_caption_a a {
      font-size: 1.8em;
    }

}


/*
cream
#fcfbe3
RGB value is (252,251,227).

light blue
#b0ebff
(176,235,255).

light teal blue
#9affec
(154,255,236).

teal aquamarine
#54baab
RGBA (84,186,171).

aquamarine
#66CDAA
RGB value is (102,205,170).
*/
